<br><br><div class="flight-offers">
    <div class="flight-offer">
      <img src="assets/images/sanletnjenoci.jpg" alt="San Letnje Noci">
      <h3>"San letnje noći" - William Shakespeare</h3>
      <p>Ovaj klasični komad je pun magije, romantike i komedije. Idealno je za široku publiku i omogućava kreativne i maštovite inscenacije sa bogatim vizualnim elementima.</p>
    </div>
    <div class="flight-offer">
      <img src="assets/images/dnevnik.jpg" alt="Dnevnik Ane Frank">
      <h3>"Dnevnik Anne Frank"</h3>
      <p>Ovaj emotivan i snažan komad nudi dubok uvid u ljudsku snagu i nadu tokom teških vremena. Prikazivanje ovakvog komada može imati jak uticaj na publiku, promovišući razumevanje i empatiju.</p>
    </div>
    <div class="flight-offer">
      <img src="/assets/images/art.jpg" alt="Art">
      <h3>"Art" - Yasmina Reza</h3>
      <p>Moderni komad koji istražuje prijateljstvo kroz sukob tri prijatelja zbog jedne apstraktne slike. Ovaj komad nudi inteligentnu komediju i duboku analizu međuljudskih odnosa.</p>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
  
