<br><br><br><main>
<section id="introduction" class="section">
    <div class="container">
      <h2>Naša Istorija</h2>
      <p>Pozorište Zavesa je otvorilo svoja vrata 1978. godine i od tada je postalo omiljeno mesto okupljanja ljubitelja pozorišta. Kroz godine, ugostili smo mnoge talentovane umetnike i ostvarili saradnju sa brojnim pozorišnim trupama, što je doprinelo našem rastu i prepoznatljivosti.</p>
    </div>
  </section>
  <section id="our-story" class="section">
    <div class="container1">
      <h2>Naša Misija</h2>
      <p>Naša misija je da kroz pozorište inspirišemo, obrazujemo i zabavimo našu publiku. Verujemo da pozorište ima moć da menja živote, pokreće razmišljanje i podstiče zajednicu da se poveže na dubljem nivou.</p>
    </div>
  </section>
  <section id="mission-values" class="section">
    <div class="container">
      <h2>Zašto "Zavesa"?</h2>
      <p>Ime našeg pozorišta, "Zavesa", simbolizuje čaroliju koja se krije iza pozorišne zavese. Svaki put kada se zavesa podigne, otvara se novi svet prepun priča, emocija i umetničke ekspresije. Naša zavesa je simbol početka svakog novog putovanja na sceni.</p>
    </div>
  </section>
</main>
