<div class="lokacija">
    <div class="text">
    <h2>Kontakt Informacije</h2><br>
                <p><strong>Adresa: </strong> Radoslava Grujića 21, Beograd</p>
                <p><strong>Telefon: </strong> 011 123-4567</p>
                <p><strong>Email: </strong> <a href="mailto:contact@pozoristezavesa.com">contact@pozoristezavesa.com</a>
                </p>
    </div>
    <div class="frejm">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2831.033305671356!2d20.477498174748238!3d44.800509877478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a70761006023f%3A0x6f3f9397ec1ea6a7!2zUHXFvg!5e0!3m2!1sen!2sno!4v1717105450442!5m2!1sen!2sno"
        width="400" height="300" style="border: 1px;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>