.lokacija {
    width: 750px;
    height: 420px;
    margin: 38px;
    padding: 50px;
    margin-left: 250px;
    margin-top: 85px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(249, 249, 249, 0.7);    
  }

  .frejm {
    margin-top: 10px;
    margin-left: 250px;
  }

  .text {
    position: absolute;
    margin-top: 50px;
    text-align: left;

  }

  .text p{
    text-align: left;
  }
 