.register {
    width: 500px;
    height: 420px;
    margin: 38px;
    padding: 50px;
    margin-left: 380px;
    margin-top: 85px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(249, 249, 249, 0.7); 
}

.register-container {
    width: 400px;
    margin: 11px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.6);
}

.register-container h2 {
    text-align: center;
}

.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-container form div {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
}

.register-container form label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.register-container form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.register-container form button {
    width: 100%;
    padding: 10px;
    background-color: wheat;
    color: black;
    border-color: black 1px;
    border-radius: 5px;
    cursor: pointer;

}

.register-container form button:hover {
    background-color: lightsalmon;
}

.register-container p {
    text-align: center;
}